.Firm_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(230, 223, 197);
    padding: 20px;
    border: 1px solid #8d8787;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Firm_modal-content {
    color: black;
    /* Boja teksta */
}

.Firm_close {
    color: rgb(76, 3, 3);
    /* Boja ikonice zatvaranja */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Firm_close:hover,
.Firm_close:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}

#addFirmForm {
    margin-bottom: 20px;
    /* Dodajte razmak ispod forme */
}

.firm_orders-container {
    background-color: #2c3e50;
    /* Tamno plava pozadina */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.firm_order {
    background-color: #34495e;
    /* Srednje tamno plava pozadina */
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.firm_order h3 {
    margin-top: 0;
}

.firm_order p {
    margin-bottom: 5px;
}

.firm_button {
    background-color: #c2d1dc;
    /* Plava boja dugmeta */
    color: rgb(46, 43, 43);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.firm_order button:hover {
    background-color: #1f618d;
    /* Tamnija nijansa plave boje na hover */
}