header {
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin:0; /* Set margin-left to zero */
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('background/bgk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin:10px;
}

/* Button styles */
.dugme {
    padding: 10px 20px;
    background-color: #fdfd96;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.dugme:hover {
    background-color: #a69713;
    color: white;
}

/* Container styles */
.button-container form {
    display: inline-block; /* Display forms as inline-block */
    margin-right: 10px; /* Add some right margin for spacing */
}


/* Modal styles */
.modal,
.Amodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.Amodal-content {
    color: #000000;
    font-size: 18px;
    background-color: #f4c68a85;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #686666;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Firm list styles */
.firm-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.firm-list li {
    display: inline-block;
    margin-right: 10px;
}

.firm-list li a {
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    background-color: #393636;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
    /* Add space below each company name */
}

.underlay {
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    /* Adjust margin as needed */
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    padding-top:40px;
    padding-bottom:20px;
    text-align: center;
    color:#fdfd96;
}

/* Button styles */
.dugme2,
.Abutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c2d1dc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: auto; /* Set width to auto or a fixed value */
}

.dugme2:hover,
.Abutton:hover {
    background-color: #3d6886;
    color: white;
}

/* Button styles */
.button,
.Abutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c2d1dc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: auto; /* Set width to auto or a fixed value */
}

.button:hover,
.Abutton:hover {
    background-color: #3d6886;
    color: white;
}

header h2 {
    color: #e0a71f; /* Text color for the firm name */
    margin: 0; /* Remove default margin */
    font-family: 'Arial Black', sans-serif; /* Use a bold font */
    font-size: 28px; /* Increase font size */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

.spacer{
    padding-top:100px;
}
